<div class="row">
    <div class="col-md-6 offset-md-3 jumbotron">
        <h3>New Ad</h3>
        <form method="post" action="/home/submitad">
            <input type="text" placeholder="Title" name="title" class="form-control" />
            <br />
            <input type="text" placeholder="Phone number" name="phoneNumber" class="form-control" />
            <br />
            <textarea class='form-control' rows='7' name='description' placeholder="Description here...."></textarea>
            <br />
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
